.booking-page{
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .Section{
  
  position: relative;
  display: flex;
  align-items: center;
  height: 25%;
  overflow: hidden;
  
} */
.Section article h3{
  color: #edefee;
  font-family: 'Markazi Text, serif';
  font-size: 64px;
  font-weight: 500;
  filter: brightness(100%);
  position: relative;
  z-index: 1;
}
.Section {
  content: "";
  width: 100%;
  height: 50vh;
  background-image: url('../assets/dinning.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: brightness(75%);
  z-index: -1;
}

.Section article h2{
  color: #edefee;
  font-family: 'Markazi Text, serif';
  font-size: 30pt;
  font-weight: 400;
}
.Section aside img{
  height: 40vh;
  margin-right: 5pc;
}